<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>QuotaView</string>
    <key>CFBundleExecutable</key>
    <string>QuotaView</string>
    <key>CFBundleIdentifier</key>
    <string>com.stoven.quotaview</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>QuotaView</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.5</string>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>QuotaViewAppGroupIdentifier</key>
    <string>7KP9UX9AA3.com.stoven.quotaview.shared</string>
    <key>QuotaViewUpdateTeamIdentifier</key>
    <string>BUUH229D5Q</string>
    <key>SUFeedURL</key>
    <string>https://duoasa.github.io/QuotaView/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>cu6dSd9lxpFU+KdiqaiTanblnNMWQVaj2oTxs7jf/6A=</string>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableSystemProfiling</key>
    <false/>
    <key>SUEnableJavaScript</key>
    <false/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>SURequireSignedFeed</key>
    <true/>
</dict>
</plist>
